[main]
keys=Return, Alt+Return, Escape, Alt+Escape, Right, Alt+Right, Left, Alt+Left, +, -, Down, Up, Alt+Down, Alt+Up, XF86AudioPlay, Alt+XF86AudioPlay, XF86RotateWindows, Alt+XF86RotateWindows, Alt+Menu
[keynames]
Return=_("OK")
Alt+Return=_("LP OK")
Escape=_("C")
#Alt+Escape=_("LP C")
Right=_("Right")
Alt+Right=_("LP Right")
Left=_("Left")
Alt+Down=_("LP Down")
Down=_("Down")
Alt+Up=_("LP Up")
Up=_("Up")
Alt+Left=_("LP Left")
+=_("+")
-=_("-")
#Alt++=_("LP +")
#Alt+-=_("LP -")
Alt+Menu=_("LP Menu")
XF86RotateWindows=_("Delete")
Alt+XF86RotateWindows=_("LP Delete")
XF86AudioPlay=_("Play")
Alt+XF86AudioPlay=_("LP Play")
