[main]
keys=1, 2, 3, 4, 5, 6, 7, 8, 9, 0, Space, Return, Escape, Next, Prior, Alt+Next, Alt+Prior, Down, Up, Right, Left, XF86Search
[keynames]
0=_("0")
1=_("1")
2=_("2")
3=_("3")
4=_("4")
5=_("5")
6=_("6")
7=_("7")
8=_("8")
9=_("9")
Space=_("M/Bookmark")
#XF86RotateWindows=_("Rotate")
#Menu=_("Menu")
Return=_("OK")
Escape=_("Back")
Next=_("Next")
Prior=_("Prior")
Alt+Next=_("LP Next")
Alt+Prior=_("LP Prior")
Down=_("Down")
Up=_("Up")
Right=_("Right")
Left=_("Left")
#XF86AudioPlay=_("Play/Pause")
XF86Search=_("Zoom")
