[main]
keys=1, 2, 3, 4, 5, 6, 7, 8, 9, 0, Alt+1, Alt+2, Alt+3, Alt+4, Alt+5, Alt+6, Alt+7, Alt+8, Alt+9, Alt+0, Return, Alt+Return, Escape, Right, Alt+Right, Left, Alt+Left, +, -
[keynames]
0=_("0")
1=_("1")
2=_("2")
3=_("3")
4=_("4")
5=_("5")
6=_("6")
7=_("7")
8=_("8")
9=_("9")
Alt+0=_("LP 0")
Alt+1=_("LP 1")
Alt+2=_("LP 2")
Alt+3=_("LP 3")
Alt+4=_("LP 4")
Alt+5=_("LP 5")
Alt+6=_("LP 6")
Alt+7=_("LP 7")
Alt+8=_("LP 8")
Alt+9=_("LP 9")
Return=_("OK")
Alt+Return=_("LP OK")
Escape=_("C")
#Alt+Escape=_("LP C")
Right=_("Right")
Alt+Right=_("LP Right")
Left=_("Left")
Alt+Left=_("LP Left")
+=_("+")
-=_("-")
#Alt++=_("LP +")
#Alt+-=_("LP -")
