Source: fbreader
Section: gui
Priority: optional
Maintainer: Alexander Kerner <lunohod@openinkpot.org>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 5.0.22), libxcb1-dev, libxcb-image0-dev, libxcb-aux0-dev, libxcb-atom1-dev, libxcb-randr0-dev, libexpat1-dev, libbz2-dev, libz1-dev, libjpeg62-dev, libpng12-dev, libgif-dev, libevas-dev, libglib2.0-dev, libpango1.0-dev, liblinebreak-dev, libfribidi-dev, pkg-config, libeoi-dev (>= 0.3.1), libedje-bin, oi-help-compiler, libedje-dev, libefreet-dev, libeina-dev
XCS-Cross-Host-Build-Depends: debhelper (>= 5.0.22), pkg-config, libedje-bin, oi-help-compiler
XCS-Cross-Build-Depends: libexpat1-dev, libbz2-dev (>= 1.0.5-2), libz1-dev, libjpeg62-dev, libpng12-dev, libgif-dev, libevas-dev, libglib2.0-dev, libpango1.0-dev, liblinebreak-dev, libfribidi-dev, libxcb1-dev, libxcb-image0-dev, libxcb-aux0-dev, libxcb-atom1-dev, libxcb-randr0-dev, libexpat1-dev, libecore-dev (>= 0.9.9.49898-5), libeoi-dev (>= 0.3.1), libsqlite3-dev, libedje-dev, libefreet-dev, libeina-dev
XS-Vcs-Git: http://git.openinkpot.org/fbreader.git
XS-Vcs-Browser: http://git.openinkpot.org/fbreader.git
Format: 3.0 (native)

Package: fbreader
Priority: optional
Architecture: any
Replaces: 
Depends: ${shlibs:Depends}, fbreader-settings, madshelf-positions-fbreader
Description: e-book reader
 FBReader is an e-book reader.
 .
 Main features:
  * supports several open e-book formats: fb2, html, chm, plucker,
    palmdoc, ztxt, tcr (psion text), rtf, oeb, openreader, non-DRM'ed
    mobipocket, plain text
  * reads directly from tar, zip, gzip, bzip2 archives (you can have
    several books in one archive)
  * supports a structured view of your e-book collection
  * automatically determines encodings
  * automatically generates a table of contents
  * keeps the last open book and the last read positions for all open books
    between runs
  * automatic hyphenation (patterns for several languages are included)
 .
  Homepage: http://www.fbreader.org/

Package: fbreader-settings-v3
Priority: optional
Architecture: all
Depends: fbreader (>= 0.12.1-9)
Provides: fbreader-settings
Conflicts: fbreader-settings, fbreader (< 0.12.1-9)
Replaces: fbreader-settings
Description: V3 specific settings
 This package contains V3 specific settings: keybindings, styles, etc.

Package: fbreader-settings-n516
Priority: optional
Architecture: all
Depends: fbreader (>= 0.12.1-9)
Provides: fbreader-settings
Conflicts: fbreader-settings, fbreader (< 0.12.1-9)
Replaces: fbreader-settings
Description: n516 specific settings
 This package contains n516 specific settings: keybindings, styles, etc.

Package: fbreader-settings-prs505
Priority: optional
Architecture: all
Depends: fbreader (>= 0.12.1-9)
Provides: fbreader-settings
Conflicts: fbreader-settings, fbreader (< 0.12.1-9)
Replaces: fbreader-settings
Description: prs505 specific settings
 This package contains prs505 specific settings: keybindings, styles, etc.

Package: fbreader-settings-eb600
Priority: optional
Architecture: all
Depends: fbreader (>= 0.12.1-9)
Provides: fbreader-settings
Conflicts: fbreader-settings, fbreader (< 0.12.1-9)
Replaces: fbreader-settings
Description: EB600 specific settings
 This package contains EB600 specific settings: keybindings, styles, etc.

Package: fbreader-theme-azbooka
Priority: optional
Architecture: all
Depends: fbreader (>= 0.12.1-12)
Conflicts: fbreader (< 0.12.1-12)
Description: azbooka specific settings
 This package contains gui theme for azbooka
