#!/usr/bin/make -f

DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_HOST_ARCH      ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

CC=$(DEB_HOST_GNU_TYPE)-gcc
LD=$(DEB_HOST_GNU_TYPE)-g++
MAKE := CC=$(CC) LD=$(LD) $(MAKE)

flavours := v3 n516

clean:
		dh_testdir
		dh_testroot
		[ ! -f Makefile ] || $(MAKE) distclean
		dh_clean build-stamp install-stamp

build: build-stamp
build-stamp:
		dh_testdir
		$(MAKE) -C zlibrary/core TARGET_ARCH=desktop UI_TYPE=ewl
		$(MAKE) -C zlibrary/text TARGET_ARCH=desktop UI_TYPE=ewl
		$(MAKE) -C zlibrary/ui TARGET_ARCH=desktop UI_TYPE=ewl
		$(MAKE) -C fbreader TARGET_ARCH=desktop UI_TYPE=ewl
		$(MAKE) -C po TARGET_ARCH=desktop UI_TYPE=ewl
		touch build-stamp 

install: install-stamp
install-stamp: DEB_DIR = $(CURDIR)/debian
install-stamp: THEME_DIR = $(DEB_DIR)/fbreader/usr/share/eoi/themes/default
install-stamp: build
		dh_testdir
		dh_testroot
		dh_clean -k
		dh_installdirs
		$(MAKE) -C zlibrary/core TARGET_ARCH=desktop UI_TYPE=ewl DESTDIR=$(DEB_DIR)/fbreader do_install
		$(MAKE) -C zlibrary/text TARGET_ARCH=desktop UI_TYPE=ewl DESTDIR=$(DEB_DIR)/fbreader do_install
		$(MAKE) -C zlibrary/ui TARGET_ARCH=desktop UI_TYPE=ewl DESTDIR=$(DEB_DIR)/fbreader do_install
		$(MAKE) -C fbreader TARGET_ARCH=desktop UI_TYPE=ewl DESTDIR=$(DEB_DIR)/fbreader do_install
		$(MAKE) -C po TARGET_ARCH=desktop UI_TYPE=ewl DEST_DIR=$(DEB_DIR)/fbreader do_install
		$(MAKE) -C themes/default
		$(MAKE) -C themes/azbooka
		install -D -m 644 fbreader/desktop/desktop $(DEB_DIR)/fbreader/usr/share/applications/FBReader.desktop
		mkdir -p $(THEME_DIR)
		install -m 644 themes/default/fbreader.edj $(THEME_DIR)
		install -m 644 themes/default/fbreader_messagebox.edj $(THEME_DIR)
		install -m 644 themes/default/fbreader_entrybox.edj $(THEME_DIR)
		mkdir -p $(DEB_DIR)/fbreader-theme-azbooka/usr/share/eoi/themes/azbooka
		install -m 644 themes/azbooka/fbreader.edj \
			themes/azbooka/fbreader_messagebox.edj \
			themes/azbooka/fbreader_entrybox.edj \
			$(DEB_DIR)/fbreader-theme-azbooka/usr/share/eoi/themes/azbooka
		mkdir -p $(DEB_DIR)/fbreader/usr/share/keys/help
		install -m 644 fbreader_help.ini $(DEB_DIR)/fbreader/usr/share/keys/help/fbreader.ini
		mkdir -p ${DEB_DIR}/fbreader/usr/share/help/fbreader
		oi-help-compiler -u help ${DEB_DIR}/fbreader/usr/share/help/fbreader
		for FLAVOUR in $(flavours); do \
			DEFAULT_DIR=$(DEB_DIR)/fbreader-settings-$$FLAVOUR/usr/share/FBReader/default; \
			mkdir -p $$DEFAULT_DIR; \
			install -m 0644 fbreader/data/default/config.$$FLAVOUR.xml $$DEFAULT_DIR/config.xml; \
			install -m 0644 fbreader/data/default/keymap.$$FLAVOUR.xml $$DEFAULT_DIR/keymap.xml; \
			install -m 0644 fbreader/data/default/styles.$$FLAVOUR.xml $$DEFAULT_DIR/styles.xml; \
			install -m 0644 fbreader/data/default/external.$$FLAVOUR.xml $$DEFAULT_DIR/external.xml; \
			sed -e 's/_("\(.*\)")/\1/' fbreader/data/default/keydefs.$$FLAVOUR.tmpl > $$DEFAULT_DIR/keydefs.ini; \
		done
		touch install-stamp

binary-arch: VERSION=$(shell expr "`dpkg-parsechangelog |grep Version:`" : '.*Version: \(.*\)')
binary-arch: build install
		dh_testdir
		dh_testroot
#		dh_installchangelogs
		dh_strip
		dh_compress
		dh_fixperms
		dh_installdeb
		dh_shlibdeps
		dh_gencontrol
		dh_md5sums
		dh_builddeb

binary-indep:

binary:	binary-indep binary-arch

.PHONY: clean build install binary-indep binary-arch binary
